<div class="container">
    <p>Add a New Todo:</p>

    <div class="new-item">
      
      <img [src]="newTodo.avatar" class="new-avatar">
      <input type="file" id="new-avatar" accept="image/*" [(ngModel)]="newTodo.avatar" (change)="avatarDetector($event)">

      <label for="newTodoUsername">Username:</label>
      <input id="newTodoUsername" placeholder="Username" [(ngModel)]="newTodo.userName">

      <label for="newTodoUsername">name:</label>
      <input id="newTodoUsername" placeholder="Username" [(ngModel)]="newTodo.name">
      
      <label for="newTodoText">New Todo:</label>
      <input id="newTodoText" placeholder="New Todo" [(ngModel)]="newTodo.todoText">
    
      <label for="newTodoStatus">Status:</label>
      <input id="newTodoStatus" type="checkbox" [(ngModel)]="newTodo.checked">
    
      <button (click)="addTodo(newTodo)" class="add-button">Add Todo</button>
    </div>
    <hr/>
    
    <h1>Todo List</h1>
    <div class="loader" *ngIf="todoService.httpProgress"></div>
    <div class="list-area" *ngIf="!todoService.httpProgress">
 
      <div *ngFor="let todo of todos" class="todos-list">
          
        <div>
          <p class="date">{{ 'Created at : ' + (todo.createdAt | dateFormatter) }}</p>
          <img [src]="todo.avatar" class="avatar">
          <textarea id="newTodoText" placeholder="New Todo" [(ngModel)]="todo.todoText" class="text-area">
          </textarea>
          </div>

          
        <label for="newTodoUsername">Username:</label>
        <input id="newTodoUsername" placeholder="Username" [ngModel]="todo.userName" readonly>
  
        <label for="newTodoUsername">name:</label>
        <input id="newTodoUsername" placeholder="name" [(ngModel)]="todo.name">
      
        <label for="newTodoStatus">Status:</label>
        <input id="newTodoStatus" type="checkbox" [(ngModel)]="todo.checked">
        <button (click)="updateTodoStatus(todo)" class="update-button">Update todo</button>
        <button (click)="removeTodo(todo)" class="remove-button">Remove Todo</button>

        

      <hr/>
      </div>
    </div>
  </div>
  <button (click)="getTodos()" class="update-list">update list</button>


  