.header {
    display: flex;
    margin-left: 40px;
  }

  .date {
    color: gray;
  }

  .update-list{
    background-color: blue;
    top: 90vh;
    left: 2vw;
    position: fixed;
    height: 45px;
    color: white;
    font-style: italic;
    font-weight: bolder;
    border-radius: 50%;
    cursor: pointer;
  }

  .update-list:hover{
    background-color: red;
    color: gold;
    border: 4px solid gold;
  }

  .text-area{
    font-size: large;
    font-style: italic;
    width: 50vw;
    height: 14.5vh;
    resize: none;
    border-color: gray;
    border-radius: 5px;
  }
  
  .header p {
    margin-left: 7vw;
  }
  
  .new-item > * {
    margin: 10px;
  }

  .new-avatar {
    max-width: 10vw;
    max-height: 10vh;
    padding: 5px;
  }

  .avatar {
    max-width: 15vw;
    max-height: 15vh;
  }
  
  hr {
    width: 100%;
    border-width: 2px;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    margin-top: 5vh;
    align-items: center;
    justify-content: start;
  }
  
  .todos-list > * {
    margin-left: 50px;
    margin-bottom: 20px;
  }
  
  .update-button, .remove-button {
    background-color: green;
    color: white;
  }
  
  .remove-button {
    background-color: red;
  }


  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }


  .loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  